<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="ad in ads | limitTo:quantity">
  <div class="team-wrapper">
    <div class="team-inner" style="background-image: url('{{ad.advertisementAssets[0].advertisementThumbnails.inventory_m.url}}')">
    </div>
     <div class="description">
		     <h4> {{ ad.title }} </h3>
         <h5> TBD  </h3>
			</div>
      <br>
      <div class="real-info description col-lg-12">
        <div class="col-lg-4"><b>{{ ad.advertisementPrice.baseRent }} €</b></div>
        <div class="col-lg-8">
          {{ ad.realestateSummary.numberOfRooms }} Zimmer&nbsp;&nbsp;&nbsp;&nbsp;|
          ab {{ ad.realestateSummary.space | number:1 }} m2
        </div>
      </div>
  </div>
</div>
